@import './base.css';
@import './design-tokens.css';

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  max-width: none;
}

a {
  text-decoration: none;
  color: inherit;
}
